In [35]:
import pandas as pd
pd.set_option('display.max_rows', 10)

description_col = 'Security Description'
security_col = 'Security No.'
symbol_col = 'Symbol'
exchange_col = 'Exchange'
currency_col = 'Currency'
holding_col = 'Holding Jun24'
value_col = 'Market Value'
percent_col = '% of Fund'
jpm_sp_col = 'SP JPM GBP'
jun24_sp_col = 'SP Jun24 lc'
today_sp_lc_col = 'SP Today lc'
today_sp_gbp_col = 'SP Today GBP'
fx_gbp_today_col = 'fx gbp today'
nav_gbp_today_col = 'nav gbp today'

In [28]:
jema_data = pd.read_csv('./jema_symbols_with_vals_jun24.csv').dropna(subset=[symbol_col])
# jema_symbols[holding_col] = jema_symbols[holding_col].str.replace(',', '').astype(float)
jema_data.reset_index(inplace=True, drop=True)

columns_to_drop = [
    'Unnamed: 0', 'Security No.',
    'Conv Rate', 'Market Value',
    'SP JPM', 'SP Jun24', 'SP Today', 'fx gbp jun 24', fx_gbp_today_col,
    'SP Jun 24 GBP', 'Error'
]

jema_data = jema_data.drop(columns=columns_to_drop)
jema_data

,Security Description,Symbol,Exchange,Currency,Holding Jun24
0,THE SAUDI NATIONAL BANK,1180,TADAWUL,SAR,81271.00
1,AL RAJHI BANK COMMON STOCK SAR 10,1120,TADAWUL,SAR,32585.00
2,FIRSTRAND LTD COMMON STOCK ZAR 1,FSR,JSE,ZAR,164763.00
3,JPM GBP LIQUIDITY LVNAV X (DIST.),GBPGBP,FX_IDC,GBP,514330.73
4,STANDARD BANK GROUP LTD COMMON STOCK ZAR 10,SBK,JSE,ZAR,47354.00
...,...,...,...,...,...
97,TATNEFT PJSC TOTAL,TATN,ALOR,RUB,1301425.00
98,TCS GROUP HOLDING PLC GDR,TCSG,ALOR,RUB,75226.00
99,VTB BANK PJSC COMMON STOCK RUB 0.01,VTBR,ALOR,RUB,4246655.00
100,X 5 RETAIL GROUP NV-REGS GDR,FIVE,ALOR,RUB,275182.00
101,YANDEX NV COMMON STOCK USD 0.01,YDEX,ALOR,RUB,169819.00

In [29]:
from tvDatafeed import TvDatafeed, Interval

tv = TvDatafeed()

for index, row in jema_data.iterrows():

    symbol = row.Symbol
    exchange = row.Exchange

    try:
        hist = tv.get_hist(
            symbol=symbol,
            exchange=exchange,
            interval=Interval.in_daily,
            n_bars=1
        )

        sp_now = hist.iloc[-1].close.item()
        jema_data.loc[index, today_sp_lc_col] = sp_now
    except:
        print(f"Failed: {symbol} - {exchange}")

jema_data

WARNING:tvDatafeed.main:you are using nologin method, data you access may be limited

,Security Description,Symbol,Exchange,Currency,Holding Jun24,SP Today lc
0,THE SAUDI NATIONAL BANK,1180,TADAWUL,SAR,81271.00,36.900002
1,AL RAJHI BANK COMMON STOCK SAR 10,1120,TADAWUL,SAR,32585.00,88.900002
2,FIRSTRAND LTD COMMON STOCK ZAR 1,FSR,JSE,ZAR,164763.00,8350.000000
3,JPM GBP LIQUIDITY LVNAV X (DIST.),GBPGBP,FX_IDC,GBP,514330.73,1.000000
4,STANDARD BANK GROUP LTD COMMON STOCK ZAR 10,SBK,JSE,ZAR,47354.00,23274.000000
...,...,...,...,...,...,...
97,TATNEFT PJSC TOTAL,TATN,ALOR,RUB,1301425.00,600.300000
98,TCS GROUP HOLDING PLC GDR,TCSG,ALOR,RUB,75226.00,2576.500000
99,VTB BANK PJSC COMMON STOCK RUB 0.01,VTBR,ALOR,RUB,4246655.00,96.450000
100,X 5 RETAIL GROUP NV-REGS GDR,FIVE,ALOR,RUB,275182.00,2798.000000
101,YANDEX NV COMMON STOCK USD 0.01,YDEX,ALOR,RUB,169819.00,3802.000000

In [30]:
jema_data.to_csv(path_or_buf="jema_nav_today.csv")
jema_data

,Security Description,Symbol,Exchange,Currency,Holding Jun24,SP Today lc
0,THE SAUDI NATIONAL BANK,1180,TADAWUL,SAR,81271.00,36.900002
1,AL RAJHI BANK COMMON STOCK SAR 10,1120,TADAWUL,SAR,32585.00,88.900002
2,FIRSTRAND LTD COMMON STOCK ZAR 1,FSR,JSE,ZAR,164763.00,8350.000000
3,JPM GBP LIQUIDITY LVNAV X (DIST.),GBPGBP,FX_IDC,GBP,514330.73,1.000000
4,STANDARD BANK GROUP LTD COMMON STOCK ZAR 10,SBK,JSE,ZAR,47354.00,23274.000000
...,...,...,...,...,...,...
97,TATNEFT PJSC TOTAL,TATN,ALOR,RUB,1301425.00,600.300000
98,TCS GROUP HOLDING PLC GDR,TCSG,ALOR,RUB,75226.00,2576.500000
99,VTB BANK PJSC COMMON STOCK RUB 0.01,VTBR,ALOR,RUB,4246655.00,96.450000
100,X 5 RETAIL GROUP NV-REGS GDR,FIVE,ALOR,RUB,275182.00,2798.000000
101,YANDEX NV COMMON STOCK USD 0.01,YDEX,ALOR,RUB,169819.00,3802.000000

In [31]:
currencies = list(jema_data[currency_col].unique())

currencies_today = {}

for currency in currencies:
    if currency in currencies_today:
        continue
    try:
        data = tv.get_hist(symbol=f'{currency}GBP', exchange='FX_IDC', interval=Interval.in_daily, n_bars=100)
        currencies_today[currency] = data.iloc[-1].close.item() 
    except:
        print(f"Failed: {currency}GBP")

display(currencies_today)

{'SAR': 0.2016,
 'ZAR': 0.04233,
 'GBP': 1.0,
 'QAR': 0.20969,
 'USD': 0.76415,
 'CZK': 0.033809,
 'AED': 0.20763,
 'RUB': 0.008331,
 'HUF': 0.002153,
 'PLN': 0.19771,
 'EUR': 0.84891,
 'TRY': 0.02214,
 'RON': 0.17038,
 'GBX': 0.01}

In [32]:
for index, row in jema_data.iterrows():
    currency = row.Currency
    jema_data.loc[index, fx_gbp_today_col] = currencies_today[currency]

jema_data

,Security Description,Symbol,Exchange,Currency,Holding Jun24,SP Today lc,fx gbp today
0,THE SAUDI NATIONAL BANK,1180,TADAWUL,SAR,81271.00,36.900002,0.201600
1,AL RAJHI BANK COMMON STOCK SAR 10,1120,TADAWUL,SAR,32585.00,88.900002,0.201600
2,FIRSTRAND LTD COMMON STOCK ZAR 1,FSR,JSE,ZAR,164763.00,8350.000000,0.042330
3,JPM GBP LIQUIDITY LVNAV X (DIST.),GBPGBP,FX_IDC,GBP,514330.73,1.000000,1.000000
4,STANDARD BANK GROUP LTD COMMON STOCK ZAR 10,SBK,JSE,ZAR,47354.00,23274.000000,0.042330
...,...,...,...,...,...,...,...
97,TATNEFT PJSC TOTAL,TATN,ALOR,RUB,1301425.00,600.300000,0.008331
98,TCS GROUP HOLDING PLC GDR,TCSG,ALOR,RUB,75226.00,2576.500000,0.008331
99,VTB BANK PJSC COMMON STOCK RUB 0.01,VTBR,ALOR,RUB,4246655.00,96.450000,0.008331
100,X 5 RETAIL GROUP NV-REGS GDR,FIVE,ALOR,RUB,275182.00,2798.000000,0.008331
101,YANDEX NV COMMON STOCK USD 0.01,YDEX,ALOR,RUB,169819.00,3802.000000,0.008331

In [44]:
jema_data.to_csv(path_or_buf="jema_nav_today.csv")

In [36]:
for index, row in jema_data.iterrows():
    fx_rate = row[fx_gbp_today_col]
    if row.Currency == 'ZAR':
        fx_rate = fx_rate / 100
    sp_today_lc = row[today_sp_lc_col]
    sp_today_gbp = sp_today_lc * fx_rate
    jema_data.loc[index, today_sp_gbp_col] = sp_today_gbp
    holding = row[holding_col]
    
    jema_data.loc[index, nav_gbp_today_col] = holding * sp_today_gbp

jema_data

,Security Description,Symbol,Exchange,Currency,Holding Jun24,SP Today lc,fx gbp today,SP Today GBP,nav gbp today
0,THE SAUDI NATIONAL BANK,1180,TADAWUL,SAR,81271.00,36.900002,0.201600,7.439040,6.045783e+05
1,AL RAJHI BANK COMMON STOCK SAR 10,1120,TADAWUL,SAR,32585.00,88.900002,0.201600,17.922240,5.839962e+05
2,FIRSTRAND LTD COMMON STOCK ZAR 1,FSR,JSE,ZAR,164763.00,8350.000000,0.042330,3.534555,5.823639e+05
3,JPM GBP LIQUIDITY LVNAV X (DIST.),GBPGBP,FX_IDC,GBP,514330.73,1.000000,1.000000,1.000000,5.143307e+05
4,STANDARD BANK GROUP LTD COMMON STOCK ZAR 10,SBK,JSE,ZAR,47354.00,23274.000000,0.042330,9.851884,4.665261e+05
...,...,...,...,...,...,...,...,...,...
97,TATNEFT PJSC TOTAL,TATN,ALOR,RUB,1301425.00,600.300000,0.008331,5.001099,6.508556e+06
98,TCS GROUP HOLDING PLC GDR,TCSG,ALOR,RUB,75226.00,2576.500000,0.008331,21.464821,1.614713e+06
99,VTB BANK PJSC COMMON STOCK RUB 0.01,VTBR,ALOR,RUB,4246655.00,96.450000,0.008331,0.803525,3.412293e+06
100,X 5 RETAIL GROUP NV-REGS GDR,FIVE,ALOR,RUB,275182.00,2798.000000,0.008331,23.310138,6.414530e+06
101,YANDEX NV COMMON STOCK USD 0.01,YDEX,ALOR,RUB,169819.00,3802.000000,0.008331,31.674462,5.378925e+06

In [50]:
num_shares = 40436176

total_assets = jema_data[nav_gbp_today_col].sum()
nav = total_assets / num_shares

russian_assets = jema_data[jema_data[exchange_col] == 'ALOR'][nav_gbp_today_col].sum()
other_assets = jema_data[jema_data[exchange_col] != 'ALOR'][nav_gbp_today_col].sum()

russian_nav = russian_assets / num_shares
other_nav = other_assets / num_shares

print(f"Russian Assets:  Â£{russian_assets:,.0f}")
print(f"Other Assets:    Â£{other_assets:,.0f}")
print(f"Total Assets:    Â£{total_assets:,.0f}")
print(f"Russian NAV:     Â£{russian_nav:,.2f}")
print(f"Other NAV:       Â£{other_nav:,.2f}")
print(f"\nNAV:             Â£{nav:,.2f}")

Russian Assets:  Â£183,425,671
Other Assets:    Â£18,545,814
Total Assets:    Â£201,971,485
Russian NAV:     Â£4.54
Other NAV:       Â£0.46

NAV:             Â£4.99