In [1]:
import pandas as pd
pd.set_option('display.max_rows', 10)

description_col = 'Security Description'
security_col = 'Security No.'
symbol_col = 'Symbol'
exchange_col = 'Exchange'
currency_col = 'Currency'
holding_col = 'Holding Jun24'
value_col = 'Market Value'
percent_col = '% of Fund'
jpm_sp_col = 'SP JPM GBP'
jun24_sp_col = 'SP Jun24 lc'
today_sp_lc_col = 'SP Today lc'
today_sp_gbp_col = 'SP Today GBP'
fx_gbp_today_col = 'fx gbp today'
nav_gbp_today_col = 'nav gbp today'

In [2]:
jema_data = pd.read_csv('./jema_symbols_with_vals_jun24.csv').dropna(subset=[symbol_col])
# jema_symbols[holding_col] = jema_symbols[holding_col].str.replace(',', '').astype(float)
jema_data.reset_index(inplace=True, drop=True)

columns_to_drop = [
    'Unnamed: 0', 'Security No.',
    'Conv Rate', 'Market Value',
    'SP JPM', 'SP Jun24', 'SP Today', 'fx gbp jun 24', fx_gbp_today_col,
    'SP Jun 24 GBP', 'Error'
]

jema_data = jema_data.drop(columns=columns_to_drop)
jema_data

,Security Description,Symbol,Exchange,Currency,Holding Jun24
0,THE SAUDI NATIONAL BANK,1180,TADAWUL,SAR,81271.00
1,AL RAJHI BANK COMMON STOCK SAR 10,1120,TADAWUL,SAR,32585.00
2,FIRSTRAND LTD COMMON STOCK ZAR 1,FSR,JSE,ZAR,164763.00
3,JPM GBP LIQUIDITY LVNAV X (DIST.),GBPGBP,FX_IDC,GBP,514330.73
4,STANDARD BANK GROUP LTD COMMON STOCK ZAR 10,SBK,JSE,ZAR,47354.00
...,...,...,...,...,...
97,TATNEFT PJSC TOTAL,TATN,ALOR,RUB,1301425.00
98,TCS GROUP HOLDING PLC GDR,TCSG,ALOR,RUB,75226.00
99,VTB BANK PJSC COMMON STOCK RUB 0.01,VTBR,ALOR,RUB,4246655.00
100,X 5 RETAIL GROUP NV-REGS GDR,FIVE,ALOR,RUB,275182.00
101,YANDEX NV COMMON STOCK USD 0.01,YDEX,ALOR,RUB,169819.00

In [3]:
from tvDatafeed import TvDatafeed, Interval

tv = TvDatafeed()

for index, row in jema_data.iterrows():

    symbol = row.Symbol
    exchange = row.Exchange

    try:
        hist = tv.get_hist(
            symbol=symbol,
            exchange=exchange,
            interval=Interval.in_daily,
            n_bars=1
        )

        sp_now = hist.iloc[-1].close.item()
        jema_data.loc[index, today_sp_lc_col] = sp_now
    except:
        print(f"Failed: {symbol} - {exchange}")

jema_data

you are using nologin method, data you access may be limited

,Security Description,Symbol,Exchange,Currency,Holding Jun24,SP Today lc
0,THE SAUDI NATIONAL BANK,1180,TADAWUL,SAR,81271.00,34.95
1,AL RAJHI BANK COMMON STOCK SAR 10,1120,TADAWUL,SAR,32585.00,85.40
2,FIRSTRAND LTD COMMON STOCK ZAR 1,FSR,JSE,ZAR,164763.00,7975.00
3,JPM GBP LIQUIDITY LVNAV X (DIST.),GBPGBP,FX_IDC,GBP,514330.73,1.00
4,STANDARD BANK GROUP LTD COMMON STOCK ZAR 10,SBK,JSE,ZAR,47354.00,23761.00
...,...,...,...,...,...,...
97,TATNEFT PJSC TOTAL,TATN,ALOR,RUB,1301425.00,615.20
98,TCS GROUP HOLDING PLC GDR,TCSG,ALOR,RUB,75226.00,2565.50
99,VTB BANK PJSC COMMON STOCK RUB 0.01,VTBR,ALOR,RUB,4246655.00,86.55
100,X 5 RETAIL GROUP NV-REGS GDR,FIVE,ALOR,RUB,275182.00,2798.00
101,YANDEX NV COMMON STOCK USD 0.01,YDEX,ALOR,RUB,169819.00,3945.00

In [4]:
jema_data.to_csv(path_or_buf="jema_nav_241010.csv")
jema_data

,Security Description,Symbol,Exchange,Currency,Holding Jun24,SP Today lc
0,THE SAUDI NATIONAL BANK,1180,TADAWUL,SAR,81271.00,34.95
1,AL RAJHI BANK COMMON STOCK SAR 10,1120,TADAWUL,SAR,32585.00,85.40
2,FIRSTRAND LTD COMMON STOCK ZAR 1,FSR,JSE,ZAR,164763.00,7975.00
3,JPM GBP LIQUIDITY LVNAV X (DIST.),GBPGBP,FX_IDC,GBP,514330.73,1.00
4,STANDARD BANK GROUP LTD COMMON STOCK ZAR 10,SBK,JSE,ZAR,47354.00,23761.00
...,...,...,...,...,...,...
97,TATNEFT PJSC TOTAL,TATN,ALOR,RUB,1301425.00,615.20
98,TCS GROUP HOLDING PLC GDR,TCSG,ALOR,RUB,75226.00,2565.50
99,VTB BANK PJSC COMMON STOCK RUB 0.01,VTBR,ALOR,RUB,4246655.00,86.55
100,X 5 RETAIL GROUP NV-REGS GDR,FIVE,ALOR,RUB,275182.00,2798.00
101,YANDEX NV COMMON STOCK USD 0.01,YDEX,ALOR,RUB,169819.00,3945.00

In [5]:
currencies = list(jema_data[currency_col].unique())

currencies_today = {}

for currency in currencies:
    if currency in currencies_today:
        continue
    try:
        data = tv.get_hist(symbol=f'{currency}GBP', exchange='FX_IDC', interval=Interval.in_daily, n_bars=100)
        currencies_today[currency] = data.iloc[-1].close.item() 
    except:
        print(f"Failed: {currency}GBP")

display(currencies_today)

{'SAR': 0.2017,
 'ZAR': 0.04349,
 'GBP': 1.0,
 'QAR': 0.20989,
 'USD': 0.76478,
 'CZK': 0.033006,
 'AED': 0.20785,
 'RUB': 0.007838,
 'HUF': 0.002083,
 'PLN': 0.19385,
 'EUR': 0.83636,
 'TRY': 0.02196,
 'RON': 0.16796,
 'GBX': 0.01}

In [6]:
for index, row in jema_data.iterrows():
    currency = row.Currency
    jema_data.loc[index, fx_gbp_today_col] = currencies_today[currency]

jema_data

,Security Description,Symbol,Exchange,Currency,Holding Jun24,SP Today lc,fx gbp today
0,THE SAUDI NATIONAL BANK,1180,TADAWUL,SAR,81271.00,34.95,0.201700
1,AL RAJHI BANK COMMON STOCK SAR 10,1120,TADAWUL,SAR,32585.00,85.40,0.201700
2,FIRSTRAND LTD COMMON STOCK ZAR 1,FSR,JSE,ZAR,164763.00,7975.00,0.043490
3,JPM GBP LIQUIDITY LVNAV X (DIST.),GBPGBP,FX_IDC,GBP,514330.73,1.00,1.000000
4,STANDARD BANK GROUP LTD COMMON STOCK ZAR 10,SBK,JSE,ZAR,47354.00,23761.00,0.043490
...,...,...,...,...,...,...,...
97,TATNEFT PJSC TOTAL,TATN,ALOR,RUB,1301425.00,615.20,0.007838
98,TCS GROUP HOLDING PLC GDR,TCSG,ALOR,RUB,75226.00,2565.50,0.007838
99,VTB BANK PJSC COMMON STOCK RUB 0.01,VTBR,ALOR,RUB,4246655.00,86.55,0.007838
100,X 5 RETAIL GROUP NV-REGS GDR,FIVE,ALOR,RUB,275182.00,2798.00,0.007838
101,YANDEX NV COMMON STOCK USD 0.01,YDEX,ALOR,RUB,169819.00,3945.00,0.007838

In [7]:
jema_data.to_csv(path_or_buf="jema_nav_241010.csv")

In [8]:
for index, row in jema_data.iterrows():
    fx_rate = row[fx_gbp_today_col]
    if row.Currency == 'ZAR':
        fx_rate = fx_rate / 100
    sp_today_lc = row[today_sp_lc_col]
    sp_today_gbp = sp_today_lc * fx_rate
    jema_data.loc[index, today_sp_gbp_col] = sp_today_gbp
    holding = row[holding_col]
    
    jema_data.loc[index, nav_gbp_today_col] = holding * sp_today_gbp

jema_data

,Security Description,Symbol,Exchange,Currency,Holding Jun24,SP Today lc,fx gbp today,SP Today GBP,nav gbp today
0,THE SAUDI NATIONAL BANK,1180,TADAWUL,SAR,81271.00,34.95,0.201700,7.049415,5.729130e+05
1,AL RAJHI BANK COMMON STOCK SAR 10,1120,TADAWUL,SAR,32585.00,85.40,0.201700,17.225180,5.612825e+05
2,FIRSTRAND LTD COMMON STOCK ZAR 1,FSR,JSE,ZAR,164763.00,7975.00,0.043490,3.468328,5.714520e+05
3,JPM GBP LIQUIDITY LVNAV X (DIST.),GBPGBP,FX_IDC,GBP,514330.73,1.00,1.000000,1.000000,5.143307e+05
4,STANDARD BANK GROUP LTD COMMON STOCK ZAR 10,SBK,JSE,ZAR,47354.00,23761.00,0.043490,10.333659,4.893401e+05
...,...,...,...,...,...,...,...,...,...
97,TATNEFT PJSC TOTAL,TATN,ALOR,RUB,1301425.00,615.20,0.007838,4.821938,6.275390e+06
98,TCS GROUP HOLDING PLC GDR,TCSG,ALOR,RUB,75226.00,2565.50,0.007838,20.108389,1.512674e+06
99,VTB BANK PJSC COMMON STOCK RUB 0.01,VTBR,ALOR,RUB,4246655.00,86.55,0.007838,0.678379,2.880841e+06
100,X 5 RETAIL GROUP NV-REGS GDR,FIVE,ALOR,RUB,275182.00,2798.00,0.007838,21.930724,6.034940e+06
101,YANDEX NV COMMON STOCK USD 0.01,YDEX,ALOR,RUB,169819.00,3945.00,0.007838,30.920910,5.250958e+06

In [9]:
num_shares = 40436176

total_assets = jema_data[nav_gbp_today_col].sum()
nav = total_assets / num_shares

russian_assets = jema_data[jema_data[exchange_col] == 'ALOR'][nav_gbp_today_col].sum()
other_assets = jema_data[jema_data[exchange_col] != 'ALOR'][nav_gbp_today_col].sum()

russian_nav = russian_assets / num_shares
other_nav = other_assets / num_shares

print(f"Russian Assets:  Â£{russian_assets:,.0f}")
print(f"Other Assets:    Â£{other_assets:,.0f}")
print(f"Total Assets:    Â£{total_assets:,.0f}")
print(f"Russian NAV:     Â£{russian_nav:,.2f}")
print(f"Other NAV:       Â£{other_nav:,.2f}")
print(f"\nNAV:             Â£{nav:,.2f}")

Russian Assets:  Â£175,888,003
Other Assets:    Â£19,066,051
Total Assets:    Â£194,954,054
Russian NAV:     Â£4.35
Other NAV:       Â£0.47

NAV:             Â£4.82